:root {
    --text: #dde2f4;
    --background: #20273c;
    --background-note: #171c2b;
    --primary: #8b9ddb;
    --primary-2: #7887bdb4;
    --secondary: #6b277e;
    --secondary-2: #352a66cc;
    --secondary-3: #50467ccc;
    --accent: #cd5dc1;

    --neutral-0: rgba(156, 156, 156, 0.363);
    --neutral-1: rgba(63, 63, 63, 0.747);
    --neutral-3: rgb(51, 51, 51);
}

html, a {
    color: var(--text);
}

body {
    background-color: var(--background);
}

.border-secondary {
    border: 2px solid var(--secondary);
}

.border-neutral-0 {
    border: 1px solid white;
}

.back-neutral-0 {
    background-color: var(--neutral-0);
}

.back-neutral-3 {
    background-color: var(--neutral-3);
}

.back-note {
    background-color: var(--background-note);
}

.back-accent {
    background-color: var(--accent);
}

.back-primary {
    background-color: var(--primary);
}

.back-primary-2 {
    background-color: var(--primary-2);
}

.back-secondary {
    background-color: var(--secondary);
}

.back-secondary-2 {
    background-color: var(--secondary-2);
}

.back-secondary-3 {
    background-color: var(--secondary-3);
}

.text-color {
    color: var(--text);
}