/* min 250px    max 1030px  */
.gap-top-4 {
    margin-top: 4rem;
}

.gap-top-2-5 {
    margin-top: 2.5rem;
}

.gap-top-0-8 {
    margin-top: .8rem;
}

.gap-top-1-5 {
    margin-top: 1.5rem;
}

.gap-top-1 {
    margin-top: 1rem;
}

.gap-bottom0 {
    margin-bottom: .8rem;
}

.gap-bottom1 {
    margin-bottom: 1.6rem;
}

.gap-bottom-05 {
    margin-bottom: .5rem;
}

.gap-right-1 {
    margin-right: 1rem;
}

