<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../assets/css/repeat-components.css">
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <header class="background-white">
        <div class="container-search">
            <button class="search-btn">
                <span class="font-size-lg material-symbols-outlined">search</span>
                <span class="right-arrow font-size-lg material-symbols-outlined">chevron_right</span>
            </button>
            <input type="text" class="radius-total" id="search-box">
        </div>
        <div class="container-title">
            <h1 class="font-size-lg font-wght-700">E-Commerce</h1>
        </div>
        <div class="container-cart">
            <a href="/cart">
                <span class="font-size-lg material-symbols-outlined">shopping_cart</span>
            </a>
        </div>
    </header>
    <section class="search-items space-sides max-width-section-align">
        
    </section>
    <script src="../assets/js/global.js"></script>
    <script src="../assets/js/productsSearch.js"></script>
</body>
</html>
