.radius-total {
    border-radius: 1000px;
}

.space-sides {
    padding-inline: clamp(1rem, 0.333rem + 3.333vw, 3rem);
}

.max-width-section-align {
    max-width: 1280px;
    margin-inline: auto;
}

.space-top {
    margin-top: 2rem;
}

section .container-title {
    margin-bottom: .8rem;
}