.link {
    position: relative;
    padding: 6px;
    
}

.underline-link-primary::after, .underline-link-secondary::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 3px;
}

.underline-link-primary::after {
    background-color: var(--primary);
}

.underline-link-secondary::after {
    background-color: var(--secondary);
}

/* states */

.underline-link-primary:hover::after, .underline-link-secondary:hover::after {
    height: 100%;
}

.underline-link-primary:active::after, .underline-link-secondary:active::after {
    height: 100%;
}
