<div>
    <button class="button back-accent">
        <a class="font-size--1 font-500" href="/notes">Ver notas</a>
    </button>
    <button class="button border-secondary logout-btn">
        <a class="font-size--1 font-300" href="/logout">Sair da conta</a>
    </button>
</div>