<%- include("includes/head") %>
    <div class="space-all text-center gap-top-4">
        <h1>Faça seu login e acesse suas notas!</h1>
    </div>
    <section class="container signUp space-all">
        <form class="form gap-top-2-5" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="gap-bottom0">
                <label class="gap-bottom-05 font-size--1 font-300" for="user-name">Nome de usuário:</label>
                <input class="primary-input text-color back-neutral-0" type="text" name="userName" id="user-name" autocomplete="nickname">
            </div>
            <div class="gap-bottom0">
                <label class="gap-bottom-05 font-size--1 font-300" for="password">Senha:</label>
                <input class="primary-input text-color back-neutral-0" type="password" name="password" id="password" autocomplete="current-password">
            </div>
            <div class="gap-top-1">
                <button class="button back-accent font-size--1 font-700" type="submit">Login</button>
            </div>
        </form>
    </section>
<%- include("includes/footer") %>