<%- include("includes/head") %>
    <section class="notes container notes space-all">
        <form action="/notes" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <textarea class="text-area back-note text-color font-size--1" name="newNotes" id="" cols="30" rows="10"><%= notes %></textarea>
            <button class="button font-size-0 back-primary gap-top-1" type="submit">Salvar</button>
        </form>
    </section>
<%- include("includes/footer") %>