<%- include("includes/head") %>
    <div class="space-all">
        <h1>Se cadastre para ver suas Notas</h1>
    </div>
    <div class="space-all alert">
        <span>
            <% if(exist) { %>
                <%= exist %>
            <% } %>
        </span>
    </div>
    <section class="container signUp space-all">
        <form method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div>
                <label for="first-name">Primeiro nome:</label>
                <input type="text" name="firstName" id="first-name" autocomplete="given-name">
            </div>
            <div>
                <label for="last-name">Sobrenome:</label>
                <input type="text" name="lastName" id="last-name" autocomplete="family-name">
            </div>
            <div>
                <label for="user-name">Nome de usuário:</label>
                <input type="text" name="userName" id="user-name" autocomplete="nickname">
            </div>
            <div>
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" autocomplete="current-password">
            </div>
            <div>
                <button class="accent" type="submit">Cadastrar</button>
            </div>
        </form>
    <script src="./assets/js/bundle.js"></script>
<%- include("includes/footer") %>