@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Gabarito", sans-serif;
    font-size: 15px;
}

body {
    background-color: rgb(242, 242, 242);
    
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: clamp(10px, 1%, 20px);
    position: sticky;
    top: 0px;
    z-index: 15;
    background-color: rgb(47, 72, 118);
    padding-inline: 5%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.logo-title {
    color: white;
}

.menu-button > span {
    color: white;
    font-size: 2.6rem;
}

.cart-button {
    position: relative;
}

.header .cart-item .cart-button > .cart-icon {
    color: white;
    font-size: 2rem;
}

.itemsCount {
    position: absolute;
    top: -8px;
    left: -5px;
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(194, 42, 42);
    background-color: white;
    border-radius: 100%;
    height: calc(100% - 10px);
    padding: 3px;
}

.itemsCount > span {
    
}

.header .left-items {
    display: flex;
    justify-content: space-between;
    gap: clamp(10px, 3%, 15px);
}

.header .cart-item {
    position: relative;
}



.items-cats-added {
    background-color: rgb(39, 60, 98);
    position: absolute;
    right: 0px;
    padding: 20px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: fit-content;
    display: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.without-itemsadded {
    color: white;
}

.cat-item span {
    font-size: 1.7rem;
}

.cat-item {
    display: flex;
    background-color: rgb(231, 231, 231);
    padding: 2%;
    border-radius: 10px;
    align-items: center;
    gap: 4%;
    width: 270px;
    margin-bottom: 3%;
}

.cat-item .remove-item span {
    color: black;
}

.cat-item > .left-items, .cat-item > .right-items, .cat-item > .right-items > .add-more-remove-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cat-item > .left-items {
    align-items: flex-start;
}

.price-paragraph > .accent-price {
    color: rgb(108, 133, 5);
}

.cat-item > .right-items {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.add-more-remove-container .add-cat span {
    color: black;
}

.add-more-remove-container .remove-cat span {
    color: black;
}

.cat-image-container {
    width: 150px;
    height: 100px;
}

.cat-item .left-items .cat-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}



.section-cat-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 1%;
    margin-bottom: 10%;
    padding-inline: clamp(30px, 5%, 120px);
}

.container-cat-pet {
    width: max(32%, 250px);
    margin-bottom: 2%;
    position: relative;
    transition: .3s box-shadow, .4s transform;
    border-radius: 8px;
    box-sizing: border-box;
}

.container-cat-pet:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.477);
    transform: scale(103%);
    z-index: 10;
}

.container-cat-image {
    height: 300px;
}

.container-cat-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.catfactindividual {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.419);
    overflow: scroll;
    color: white;
    padding: 3%;
    box-sizing: border-box;
}

/*.catfactindividual > p {
    padding: 5% 8%;
    box-sizing: border-box;
    width: 100%;
}*/

.add-cat-buy {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.buy-button, .add-to-cart-button {
    font-family: "Gabarito", sans-serif;
    height: 100%;
    width: 50%;
    font-size: 1.4rem;
    color: rgb(227, 227, 227);
    transition: .1s filter, .1s box-shadow;
}

.buy-button:hover, .add-to-cart-button:hover {
    filter: contrast(120%);
}

.buy-button:hover {
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.223);
}

.add-to-cart-button:hover {
    box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.223);
}

.buy-button {
    background-color: rgb(180, 197, 66);
    border-bottom-left-radius: 8px;
}

.add-to-cart-button {
    background-color: rgb(164, 165, 149);
    border-bottom-right-radius: 8px;
}

.randomize-container-button {
    position: fixed;
    z-index: 15;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.button-randomize {
    width: clamp(150px, 35vw, 400px);
    height: 50px;
    background-color: rgb(183, 171, 78);
    font-family: "Gabarito", sans-serif;
    border-radius: 100px;
    font-size: 1.2rem;
    color: rgb(229, 229, 229);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.325);
    box-sizing: border-box;
    transition: .02s transform, .2s filter;
}

.button-randomize:hover {
    transform: scale(103%);
    background-color: rgb(206, 192, 88);
    transition: .1s transform;
}