* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    font-family: sans-serif;
}

body {
    height: 100svh;
    display: flex;
    align-items: center;
}

button {
    border: none;
}

.winner-container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(1rem, .5vw + 1rem, 2rem);
}

.winner-container > h1 {
    text-align: center;
}

.game-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.main-hand.inverted {
    display: flex;
    align-items: flex-end;
    height: 93px;
}

.main-hand.inverted {
    justify-content: right;
}

.player .inverted-image {
    transform: rotateY(180deg);
}

.cpu .ajust-right {
    display: flex;
    justify-content: right;
}

.run-reverse-animation {
    animation: waitToThrowReverse 1s 3;
}

.run-animation {
    animation: waitToThrow 1s 3;
}

.second-hand, .second-hand-reverse {
    transition: 500ms transform;
}

.second-hand {
    transform: translateX(calc(50vw + 433px));
}

.second-hand-reverse {
    transform: translateX(calc(-50vw - 433px));
}

.hand-back {
    transform: translateX(0px);
}


.player-escolha {
    position: fixed;
    left: 50vw;
    bottom: 5%;
    transform: translateX(-50%);
    display: flex;
    gap: 5%;
    max-width: 500px;
}

.player-escolha img {
    transform: rotate(-90deg);
}

.player-escolha button {
    height: clamp(50px, 20vw, 150px);
    width: clamp(50px, 20vw, 150px);
    border-radius: 10px;
}

.player-escolha button img {
    width: 50%;
}

.rock-button {
    background-color: rgb(177, 132, 73);
}

.paper-button {
    background-color: rgb(80, 177, 73);
}

.scissors-button {
    background-color: rgb(73, 94, 177);
}

@keyframes waitToThrowReverse {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg) translateY(-20px);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes waitToThrow {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg) translateY(-20px);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 926px) {
    .game-container {
        margin-top: 10%;
    }

    .cpu {
        position: absolute;
        right: 55vw;
    }
    
    .player {
        position: absolute;
        left: 55vw;
    }
}